<!DOCTYPE html>
<html style="overflow-y: hidden; max-width: 100vw;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nmap</title>
  <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/cyborg/bulmaswatch.min.css">
  <link rel="stylesheet" href="/static/sheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/codemirror.min.css"
    integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/theme/material-darker.min.css"
    integrity="sha512-2OhXH4Il3n2tHKwLLSDPhrkgnLBC+6lHGGQzSFi3chgVB6DJ/v6+nbx+XYO9CugQyHVF/8D/0k3Hx1eaUK2K9g=="
    crossorigin="anonymous" />
</head>

<body class="has-background-grey-dark has-text-black" style="height:100vh">
  <div class="columns is-gapless">
    <div class="column" id = "frameableframe" style="">
      <div id="framingframeday1" style="height:calc(100vh);">
      </div>
    </div>
    <div class="column  is-narrow" id="nmapbar">
      <div class="container is-fluid">
        <br>
        
      <aside class="menu">
        <ul class="menu-list">
          <p class="menu-label"> Options</p>
          <li>
            <div class="field has-addons">
              <p class="control">
                <a class="button is-outlined is-static is-small has-text-black" id="">
                  -v
                </a>
              </p>
              <div class="control is-expanded">
                <input type="test" class="input is-small" id="stats" placeholder="verbosity">
              </div>
              
            </div>
          </li>
          <li>
            <div class="field has-addons">
              <p class="control">
                <a class="button is-outlined is-static is-small has-text-black" id="">
                  --stats-every
                </a>
              </p>
              <div class="control is-expanded">
                <input type="test" class="input is-small" id="stats" placeholder="10s = stats/10 sec">
              </div>
              
            </div>
          </li>
          <br>
          <li>
            <div class="field has-addons">
              <p class="control is-expanded">
                <a class="button is-outlined is-success is-small"  onclick="callnmap()" id="">
                  Run
                </a>
              </p>
              
            </div>
          </li>
          <hr>
          <p class="menu-label"> Controls</p>
          <li>
            <div class="field has-addons">
              <div class="control is-expanded">
                <input type="test" class="input is-small" id="placeholder" placeholder="Name">
              </div>
              <p class="control">
                <a class="button is-outlined is-success is-small" id="">
                  + Stash
                </a>
              </p>
            </div>
          </li>
          <br>
          <li>
            <div class="field has-addons">
              <p class="control is-expanded">
                <a class="button is-info  is-small" id="">
                  Show Manpage
                </a>
              </p>
            </div>
          </li>
        </ul>
      </aside>
    </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/codemirror.min.js"
    integrity="sha512-N+2N5tIIjG6LoLwqAubDASB7qH5NxVg/F2cVHyZEqlvMkfRx3EgJC9UITIckOUd1EFBjy9vEDb42dUgwfTM5Ow=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/mode/properties/properties.min.js"
    integrity="sha512-KFE2cwTwAMmZ2uQzOh8sRi0pBCHJBXyzbhhELf7gfx0n/m8no2tQpEQDW8dxSNCO1jaNAmFJ5KuXfZ/oCjoLDQ=="
    crossorigin="anonymous"></script>
  <script>

  </script>
    <script src="/static/scripts/nmap.js"></script>
</body>

</html>