<!DOCTYPE html>
<html style="overflow-y: hidden;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nmap</title>
  <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/cyborg/bulmaswatch.min.css">
  <link rel="stylesheet" href="/static/sheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/codemirror.min.css"
    integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/theme/material-darker.min.css"
    integrity="sha512-2OhXH4Il3n2tHKwLLSDPhrkgnLBC+6lHGGQzSFi3chgVB6DJ/v6+nbx+XYO9CugQyHVF/8D/0k3Hx1eaUK2K9g=="
    crossorigin="anonymous" />
</head>

<body class="has-background-grey-dark has-text-black" style="height:100vh">
  <div class="columns is-gapless">
    <div class="column" >
      <div id="framingframeday1" style="height:calc(100vh - 5rem);">
      </div>
      <br>
      <div class="columns">
        <div class="column is-2"></div>
        <div class="column ">
          <form>
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static is-small has-text-black">
                  nmap
                </a>
              <div class="control is-expanded">
                <input class="input is-small has-text-black" type="text" placeholder="Arguments">
              </div>
              <p class="control">
                <a class="button is-success is-small" id="">
                  Run
                </a>
              </p>
            </div>
          </form>
        </div>
        <div class="column is-2"></div>
      </div>
    </div>
    <div class="column  is-narrow">
      <div class="container is-fluid">
        <br>
      <aside class="menu">
        <ul class="menu-list">
          <p class="menu-label"> Controls</p>
          <li>
            <div class="field has-addons">
              <div class="control is-expanded">
                <input type="test" class="input is-small" id="placeholder" placeholder="Name">
              </div>
              <p class="control">
                <a class="button is-outlined is-success is-small" id="">
                  + Stash
                </a>
              </p>
            </div>
          </li>
          <br>
          <li>
            <div class="field has-addons">
              <p class="control is-expanded">
                <a class="button is-info  is-small" id="">
                  Show Manpage
                </a>
              </p>
            </div>
          </li>
        </ul>
      </aside>
    </div>
    </div>
  </div>
  <script src="/static/scripts/extmanager.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/codemirror.min.js"
    integrity="sha512-N+2N5tIIjG6LoLwqAubDASB7qH5NxVg/F2cVHyZEqlvMkfRx3EgJC9UITIckOUd1EFBjy9vEDb42dUgwfTM5Ow=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.0/mode/properties/properties.min.js"
    integrity="sha512-KFE2cwTwAMmZ2uQzOh8sRi0pBCHJBXyzbhhELf7gfx0n/m8no2tQpEQDW8dxSNCO1jaNAmFJ5KuXfZ/oCjoLDQ=="
    crossorigin="anonymous"></script>
  <script>
    var text = ';nmap output goes here'

    var settingsMirror = CodeMirror(document.getElementById("framingframeday1"), {
      value: text,
      mode: "text/x-ini",
      lineNumbers: true,
      lineWrapping: false,
      readOnly: true,
      theme: 'material-darker'
    });
    settingsMirror.setSize(null, '100%');
  </script>
</body>

</html>