<!DOCTYPE html>
<html style="overflow-y: hidden;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Credits</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/octoshrimpy/bulma-o-steps/master/bulma-steps.css">
  <link rel="stylesheet" href="/static/sheets/style.css">
</head>

<body class="has-background-light has-text-black" style="height:100vh"> 
  <nav class="navbar has-background-light" style="border: 0;">
  </nav>
  <div class="container ">
    <ul class="steps is-vertical is-short is-small has-gaps">
      <li class="steps-segment is-active">
        <span href="#" class="steps-marker is-warning "></span>
        <div class="steps-content">
          <p>Dashboard</p>
        </div>
      </li>
      <li class="steps-segment ">
        <span class="steps-marker is-warning" ></span>
        <div class="steps-content">
          <p>Extensions manager</p>
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker is-warning"></span>
        <div class="steps-content">
          <p>User settings</p>
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker is-info"></span>
        <div class="steps-content">
          <p>Modular extensions</p>
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker is-success"></span>
        <div class="steps-content">
          <p>[Completed] Embeded terminal</p>
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker is-success"></span>
        <div class="steps-content">
          <p>Nmap intergration</p>
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker is-danger"></span>
        <div class="steps-content">
          <p>text encoding tools</p>
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker is-danger"></span>
        <div class="steps-content">
          <p>hashcat intergration</p>
        </div>
      </li>
      <li class="steps-segment ">
        <span class="steps-marker is-danger"></span>
        <div class="steps-content">
          <p>Linpeas/winpeas parser</p>
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker is-danger"></span>
        <div class="steps-content">
          <p>Proxy intergration</p>
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker is-danger"></span>
        <div class="steps-content">
          <p>Live collaboration</p>
        </div>
      </li>
      <li class="steps-segment">
        <span class="steps-marker is-danger"></span>
        <div class="steps-content">
          <p>Live spectators</p>
        </div>
      </li>
      
    </ul>
  </div>
  <script src="/static/extmanager.js"></script>
</body>

</html>