<!DOCTYPE html>
<html >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/cyborg/bulmaswatch.min.css">
  <link rel="stylesheet" href="/static/sheets/style.css">
</head>

<body class="has-background-grey-dark has-text-black" style="min-height:100vh">

  <div class="container" id="loadingload">
    <div class="notification">
      <div class="card">
        <div class="card-content">
          <p class="title">
            ""
          </p>
          <p class="subtitle">
            Antography
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/scripts/dashboard.js"></script>
</body>

</html>